Soap/WebContent/wsdl/SaveEmpleadoImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.service.com" xmlns:intf="http://soap.service.com" xmlns:tns1="http://util.service.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.service.com"/>
   <element name="addEmpleado">
    <complexType>
     <sequence>
      <element name="p" type="tns1:Empleado"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEmpleadoResponse">
    <complexType>
     <sequence>
      <element name="addEmpleadoReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://util.service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Empleado">
    <sequence>
     <element name="apellidos" nillable="true" type="xsd:string"/>
     <element name="cargo" nillable="true" type="xsd:string"/>
     <element name="fecha_Nacimiento" nillable="true" type="xsd:string"/>
     <element name="fecha_vincula" nillable="true" type="xsd:string"/>
     <element name="nombres" nillable="true" type="xsd:string"/>
     <element name="numero_Documento" nillable="true" type="xsd:string"/>
     <element name="salario" nillable="true" type="xsd:double"/>
     <element name="tipo_Documento" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addEmpleadoResponse">

      <wsdl:part element="impl:addEmpleadoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmpleadoRequest">

      <wsdl:part element="impl:addEmpleado" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SaveEmpleadoImpl">

      <wsdl:operation name="addEmpleado">

         <wsdl:input message="impl:addEmpleadoRequest" name="addEmpleadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:addEmpleadoResponse" name="addEmpleadoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SaveEmpleadoImplSoapBinding" type="impl:SaveEmpleadoImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addEmpleado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEmpleadoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEmpleadoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SaveEmpleadoImplService">

      <wsdl:port binding="impl:SaveEmpleadoImplSoapBinding" name="SaveEmpleadoImpl">

         <wsdlsoap:address location="http://localhost:8086/Soap/services/SaveEmpleadoImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
